@model IEnumerable<ProjectManager.Core.Models.EmployeeModel>

@{
    ViewBag.Title = "DepartmentEmployees";
}
<br />
<p>
    @Html.ActionLink("Create New Employee", "Create","DepartmentManager",null,new {@class="btn btn-primary" }) | 
    @Html.ActionLink("Go back to departments", "Index", "DepartmentManager", null, new { @class = "btn btn-default" })

</p>
<br />
<hr />

<div class="row">
    <div class="col-lg-12">
    </div>
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-xs-6 thumb"  style="border-color:blue;border:1px solid;margin:3px;padding:3px;box-shadow:1px 2px #A9A9A9">

            <a href="GalleryImages/GalleryManager">
                <img class="img-responsive center-block" src="~/Content/EmployeeImage/@item.Url" style="height:140px;width:50%">
            </a>
            <h4 class="text-center"><b>@item.FirstName.ToUpper() @item.LastName.ToUpper()</b></h4>
            <ul style="list-style:none;text-align:left">
                <li><b>Gender : </b>@(item.Gender==true?"Male":"Female")</li>
                <li><b>Age : </b> @(DateTime.Now.Year-@item.DateOfBirth.Year)</li>
                <li><b>Start Date : </b>@item.CreatedAt.ToString("dd.MM.yyyy")</li>

            </ul>

        </div>


    }
</div>
