@model IEnumerable<ProjectManager.Core.Models.DepartmentModel>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>Departments</title>

    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <hr /><br /><br />
    <p>
        @Html.ActionLink("Create a New Department", "Create", null, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Back to Admin Page", "Index", "AdminManager", null, new { @class = "btn btn-default" })
    </p>
    <br />
    <table id="departmentDatatable" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Department Name
                </th>
                <th>
                    Created at
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.CreatedAt.ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure to Delete?')" })
                    </td>
                    <td>
                        <a href="@Url.Action("DepartmentEmployees","DepartmentManager",new {id=item.Id })" class="btn btn-primary">
                            See Employees
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        $('#departmentDatatable').DataTable();
    });
</script>