@model IEnumerable<ProjectManager.Core.Models.GalleryImageModel>
@{
    ViewBag.Title = "GalleryImages";
}
<br/>
<h4>Welcome to Image Page</h4>
<br />
<p>
    @Html.ActionLink("Upload More Images", "Create", "GalleryImage", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to Gallery", "Index", "GalleryManager", null, new { @class = "btn btn-default" })
</p>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success">You have @ViewBag.Photos Photos </div>
    </div>
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="thumbnail" style="box-shadow:1px 2px #A9A9A9;background-color:#FFFFFF ">
                    <h4 class="text-center">@item.Description</h4>
                    <a>
                        <img class="img-responsive center-block" src="~/Content/GalleryImages/@item.Url" style="height:220px;border:1px solid lightblue" alt="@item.Description">
                    </a>
                    <hr />
                    <div class="text-center">
                        <a href="@Url.Action("Delete","GalleryImage",new { id = item.Id })" class="btn btn-danger">
                            Delete  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a> |
                        <a href="@Url.Action("Edit","GalleryImage" ,new { id = item.Id })" class="btn btn-default">
                            Edit <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </div>
                    <br />
                </div>
            </div>
        }
    </div>
</div>



