@model IEnumerable<ProjectManager.Core.Models.GalleryModel>

@{
    ViewBag.Title = "Index";
}
    <br />
<h2>@User.Identity.Name's Gallery List</h2>

<p>
    @Html.ActionLink("Create a new gallery", "Create","GalleryManager",null,new {@class="btn btn-primary" })
</p>
<div class="row">
    <div class="col-lg-12">

        <div class="alert alert-success"> You have @ViewBag.PhotoCount Gallery </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail"style="box-shadow:2px 4px #A9A9A9">

                <a href=@Url.Action("Index", "GalleryManager")>
                    <img class="rounded mx-auto d-block" src="~/Content/Galleries/@item.Url" style="height:200px">
                </a>
                <div class="caption">

                    <ul style="list-style:none">

                        <li><b>@item.Title</b></li>
                        <br />
                        <li><b>Created Date :</b> @item.CreatedAt.ToString("dd.MM.yyyy")</li>
                        <br />
                        <li>
                            @Html.ActionLink("Go to gallery", "GalleryImages", "GalleryManager", new { id = item.Id }, new { @class = "btn btn-default" }) |
                            @Html.ActionLink("Edit", "Edit", "GalleryManager", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                            @Html.ActionLink("Delete", "Delete", "GalleryManager", new { id = item.Id }, new { @class = "btn btn-danger" })
                         
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    }
</div>


