@model IEnumerable<ProjectManager.Core.Models.EmployeeModel>

@{
    ViewBag.Title = "Index";
}
<br />

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Create a New Employee", "Create", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to Admin Page", "Index", "AdminManager", null, new { @class = "btn btn-default" })
</p>
<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail"style="box-shadow:2px 4px #A9A9A9">

                <img class="img-thumbnail" style="height:150px;align-items:center;border-color:black;padding:5px" src="~/Content/EmployeeImage/@item.Url" />
                <div class="caption">
                    <h3 style="text-align:center;color:blue">@item.FirstName.ToUpper() @item.LastName.ToUpper()</h3>
                    <ul style="list-style:none">
                        <li><b>Age :</b> @(DateTime.Now.Year-item.DateOfBirth.Year)</li>
                        <li><b>Gender :</b> @(item.Gender==true?"Male":"Female")</li>
                        <li><b>E-mail :</b> @item.EMail</li>
                        <li><b>Department Name : </b>@item.DepartmentModel.Name</li>
                        <li><b>Start Date :</b> @item.CreatedAt.ToString("dd.MM.yyyy")</li>
                        <br />
                        <li>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    }

</div>
